@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --bg-color: #fff;
  --main-color: #ff2c1f;
  --text-color: #020307;
}

* {
  font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

.input-form:-webkit-autofill,
.input-form:-webkit-autofill:hover, 
.input-form:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--bg-color);
  transition: background-color 5000s ease-in-out ;
  -webkit-transition: background-color 5000s ease-in-out ;
  -moz-transition: background-color 5000s ease-in-out ;
  -ms-transition: background-color 5000s ease-in-out ;
  -o-transition: background-color 5000s ease-in-out ;
}

html,
body {
  height: 100%;
  background: var(--text-color) !important;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin form h1 {
  color: var(--bg-color);
  font-weight: 500;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

.input-form {
  background: transparent !important;
  color: var(--bg-color) !important;
  padding: 12px 38px;
  border: 1px solid var(--main-color);
}

.icon-form:first-child {
  top: 14px;
  left: 10px;
  font-size: 22px;
}

.bx-lock-alt {
  top: 12px !important;
}

.bx-repeat {
  top: 22px !important;
}

.lock {
  bottom: 10px !important;
}

.input-form:focus::placeholder {
  color: var(--bg-color) !important;
}

.input-form:focus {
  border: 1px solid var(--main-color) !important;
  box-shadow: 4px 7px 10px rgba(255, 44, 31, 0.3);
}

.forget {
  text-align: right;
}

.forget span a{
  color: #bb261f;
}

.forget span a:hover {
  color: #ff2c1f;
}

.btn {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -ms-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
}

.btn:hover {
  background: rgb(255, 44, 31);
  color: var(--text-color);
  box-shadow: 0 6px 20px 0 rgba(255, 44, 31, 0.3), 0 6px 20px 0 rgba(255, 44, 31, 0.3);
}

.regis-link {
  color: var(--main-color);
}

.regis-link:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.span-muted {
  text-align: left;
}

.span-muted span {
  font-size: 12px;
}

.alert-form-body {
  text-align: left;
}

.alert-form {
  font-size: 12px;
}

.alert {
  background: var(--main-color) !important;
}
